@font-face {
    font-family: 'FontAwesome', sans-serif;
    src: url(./fonts/fontawesome-webfont.woff2);
}
.table_container1{
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    border: 25px solid #3A4965;
    border-radius: 0px;
    border-collapse: collapse;
    margin: 0 auto;
    margin-bottom: 100px;
    width: 1192px;
    height: 736px;
}
.table_container1 tr:nth-child(even) {
    background-color: #E3E3E3;
}
.table_container1 tr:nth-child(odd) {
    background-color: #F2F2F2;
}
.table_container1 tr, th, td {
    border: 1px solid #dddddd;
    text-transform: uppercase;
    padding: 20px;
    box-sizing: border-box;
}
.table_container1 .rowspan_item{
    font-size: 30px;
    font-weight: 700;
}
.table_container1 .thead_row th:nth-child(2){
    background-color: #89C331;
    border: none;
}
.table_container1 .thead_row th:nth-child(3){
    background-color: #F04A56;
    border: none;
}
.table_container1 .thead_row th:nth-child(4){
    background-color: #20807C;
    border: none;
}
.table_container1 .price_sup{
    font-size: 60px;
    font-weight: 700;
    padding-top: 5px;
    position: relative;
    top: 17px;
    right: 20px;
}
.table_container1 th{
    width: 280px;
    height: 89px;
}
.table_container1 .price_sup::after{
    content: '.99';
    font-size: 24px;
    font-weight: 700;
    top: 1px;
    position: absolute;
} 
.table_container1 .thead_row th:nth-child(1){
    position: relative;
    top: 30px;
    font-size: 18px;
    font-weight: 700;
    width: 313px;
    height: 159px;
    background-color: #FAFAFA;
}
.table_container1 .thead_row th:nth-child(2){
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}
.thead_row th:nth-child(3){
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}
.table_container1 .thead_row th:nth-child(4){
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}
.table_container1 .thead_row_second td{
    background-color: #FAFAFA;
}
.table_container1 .tbody_row:nth-child(1){
    position: relative;
}
.table_container1 .button{
    text-transform: uppercase;
    width: 195px;
    height: 54px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    line-height: 8px;
    color: #fff;
   text-align: center;
}
.table_container1 .gray{
    background-color: 
    #484848;
    border-bottom: 15px solid #404040;
}
.table_container1 .lime{
    background-color: #89C331;
    border-bottom: 15px solid #79B027;
} 
.table_container1 .red{
    background-color: #F04A56;
    border-bottom: 15px solid #DF3A46;
}
.table_container1 .green{
    background-color: #20807C;
    border-bottom: 15px solid #16736F;
} 

/*Second table*/
.table_container2{
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border: 25px solid #3A4965;
    border-collapse: collapse;
    margin: 0 auto;
    width: 1197px;
    height: 660px;
}
.table_container2 tr, td{
    text-align: center;
    vertical-align: middle;
}
.thead_second{
    border: 15px solid #3A4965;

}
.thead_second th{
    font-family: 'FontAwesome', sans-serif;
    font-size: 24px;
    width: 160px;
    height: 115px;
}
.thead_second th:nth-child(1){
    font-size: 14px;
    font-weight: 700;
    width: 201px;
    height: 115px;
}
.rowspan_item{
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}
.thead_second th:nth-child(even){
    background-color: #E3E3E3;
}
.table_container2 td:nth-child(even){
    background-color: #E3E3E3;
}
.table_container2 .button{
    text-transform: uppercase;
    width: 147px;
    height: 44px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    background-color: #414141;
    border-bottom: 10px solid #343434;
}
.first_column_container2{
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
}
.lime{
    background-color: #89C331;
    border: none;
}
.red{
    background-color: #F04A56;
    border: none;
}
.green{
    background-color: #20807C;
    border: none;
} 
.first_column_container2{
    font-family: 'Arimo', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.price_sup{
    font-size: 36px;
    position: relative;
    padding-bottom: 13px;
    padding-top: 13px;
    right: 56px;
}
.table_container2 .price_sup::after{
    content: '.99';
    font-size: 18px;
    font-weight: 700;
    top: 1px;
    position: absolute;
} 
.span_first_column_container2{
    font-size: 24px;
}
.month{
    position: absolute;
    padding-top: 45px;
    padding-left: 65px;
}










